@import url('https://fonts.googleapis.com/css2?family=Figtree&family=Open+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    outline: none;
}

:root {
    --primary-color: rgb(17, 86, 102);
    --secundary-color:  cornflowerblue;
    --gray-color:gray;
    --white-color: #FFFFFF;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    width: 100%;
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
}

.container .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: start;
}

.container .main-content p {
    height: 24px;
}

.main-content h2 {
    font-size: 25px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form input {
    margin-bottom: 10px;
    font-size: 24px;
    height: 40px;
    padding: 0 20px;
}

.form input:focus {
    outline: 1px solid var(--primary-color);
}


.form button {
    margin-top: 25px;
    border-radius: 4px;
    height: 50px;
    cursor: pointer;
}

.form button:hover {
    background: var(--primary-color);
}

.form button:active {
    background: var(--secundary-color);
}

.resultado-imc {
    text-align: center;
    color: var(--white-color);
    background: var(--secundary-color);
}


