* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #1B998B;
    --secundary-color: #37718E;
    --white-color: #FFFFFF;
}

body {
    background-color: var(--primary-color);
}

.container {
    width: 100%;
    max-width: 800px;
    background: var(--white-color);
    border-radius: 8px;
    margin: 40px auto;
    text-align: center;

}



p {
    margin-bottom: 5px;
}
