 <section class="container">
  <h2>Salvar contato</h2>
  <form action="/contato" method="POST">
    <label for="">Nome:</label>
    <input type="text" name="nome">
    <label for="">Idade</label>
    <input type="text" name="idade">
    <button type="submit">Salvar</button>
  </form>
 </section>